.results {
    margin-top: 5em;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card {
        display: flex;
        border: none;
        margin: 2.5em;
        flex-direction: column;
        transition: transform ease-out 200ms;
        align-items: center;
        border-radius: 80px;
        background: #ffffff;
        box-shadow:  30px 30px 60px #cacaca,
            -30px -30px 60px #ffffff;
        width: 18%;
        min-width: 250px;
        cursor: pointer;
        height: auto;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
            transition: transform ease-in-out 1ms;
        }
        img {
            border-radius: 80px 80px 0px 0px;
            width: 100%;
        }
        p {
            display: block;
            font-size: 1.5em;
            text-align: center;
            width: 80%;
            font-weight: 600;
            margin-top: 1em;
        }
        .types {
            display: flex;
            
            p {
                margin: 1em;
                margin-bottom: 2em;
                font-weight: 500;
                border-radius: 10%;
                padding: 0.1em 0.5em 0.1em 0.5em;
                
            }
            .poison {
                @include type($poison, 60%)
            }
            .grass {
                @include type($grass, 60%)
            }
            .water {
                @include type($water, 60%)
            }
            .bug {
                @include type($bug, 60%)
            }
            .fire {
                @include type($fire, 60%)
            }
            .flying {
                @include type($flying, 60%)
            }
            .normal {
                background-color: darken($normal, 15%);
                color: $normal;
            }
            .electric {
                @include type($electric, 30%)
            }

            .ground {
                @include type($ground, 60%)
            }

            .fairy {
                @include type($fairy, 45%)
            }

            .fighting {
                @include type($fighting, 70%)
            }
            .psychic {
                @include type($psychic, 70%)
            }
            .rock {
                @include type($rock, 70%)
            }
            .steel {
                @include type($steel, 70%)
            }

            .ghost {
                @include type($ghost, 70%)
            }
            .ice {
                @include type($ice, 40%)
            }
        }
    }
}
