$background-clr : #ffffff;
$navbar-height : 70px;
$footer-height : 150px;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background-color: $background-clr;
}
.App {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: $navbar-height 1fr $footer-height;
}

.main {
  width: 100%;
  height: 100%;
}